footer {
  position: fixed;
  top: 100vh;
  transform: translateY(-1.4rem);
  width: 100vw;
  height: 1.4rem;
  padding: 0.2rem;
  text-align: center;

  background-color: var(--bg_color_1);
  color: var(--font_color_2);
}
